@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgb(207, 162, 162);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
header .logo {
    color: #636161;
    font-size: 25px;
    font-weight: bold;
}
header .logo span {
    color: antiquewhite;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin: 0 15px;
}
.menu li a {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    transition: 0.2s;
}
.menu li a:hover {
    color: #3a3536;
}
.bouton {
    background-color:rgb(209, 204, 198);
    cursor: pointer;
    color: black;
    padding: 5px 25px;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #dadada;
    color: #333;
    line-height: 1.6;
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-section img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.about-section h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(196, 99, 112);
}

.about-section p {
    font-size: 18px;
    margin: 20px 0;
    padding: 0 15px;
}
.about-section a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    background-color: #535252;
    text-decoration: none;
    border-radius: 5px}
footer {
    background-color: rosybrown;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
}
